apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic-api-gateway
  labels:
    app: petclinic-api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petclinic-api-gateway
  template:
    metadata:
      labels:
        app: petclinic-api-gateway
    spec:
      containers:
        - name: api-gateway
          image: ${ECR_REGISTRY}/petclinic-gateway:${IMAGE_TAG:-v4.0.0}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: mysql
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: petclinic-api-gateway
  labels:
    app: petclinic-api-gateway
spec:
  type: ClusterIP
  selector:
    app: petclinic-api-gateway
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080

